#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contenedor-input {
  display: inline-flex; /* Cambia de flex a inline-flex para que se ajuste al contenido */
  align-items: center; /* Alinea verticalmente al centro */
  gap: 8px; /* Añade espacio entre el input y el botón */
  margin-top: 10px; /* Ajusta el espacio superior si es necesario */
}

.contenedor-de-tareas {
  width: 300px; /* Ajusta el tamaño según sea necesario */
  margin: 20px auto;
}

.item-tarea {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fff;
  width: 100%; /* Para asegurarse de que se ajuste al contenedor */
}

.completed {
  text-decoration: line-through;
}
.TachoBasura {
  margin-left: auto;
}
